@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron text-center">

    <h1>Inventory Home Page</h1>
    <p>Check it out!</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>Outdoors</h3>
            <p>Contains outdoor items like camping, hunting, and fishing equipement.</p>
        </div>
        <div class="col-sm-4">
            <h3>Electronics</h3>
            <p>Contains electronic items like phones, computers, TVs.</p>
        </div>
        <div class="col-sm-4">
            <h3>Kitchen</h3>
            <p>Contains kitchen items like mixers, pots, pans, and utensils.</p>
        </div>
    </div>
</div>