@{
    ViewData["Title"] = "Outdoor Items";
}
<h1>@ViewData["Title"]</h1>

<!DOCTYPE html>
<html lang="en">
<head>

    <style>
        .fakeimg {
            height: 200px;
            background: #aaa;
        }
    </style>
</head>
<body>

    <div class="jumbotron text-center" style="margin-bottom:0">
        <h1>Page Header</h1>
    </div>



    <div class="container" style="margin-top:30px">
        <div class="row">
            <div class="col-sm-4">
                <h2>Item</h2>
                <div class="fakeimg">Item image</div>

                <hr class="d-sm-none">
            </div>
            <div class="col-sm-8">
                <h5>Details</h5>
                <p>Item 1 Brand/Price</p>
                <p>details.........................................................................................................................................................................</p>
                <br>
                <h5>Details</h5>
                <p>Item 2 Brand/Price</p>
                <p>details.........................................................................................................................................................................</p>
            </div>
        </div>
    </div>

    <div class="jumbotron text-center" style="margin-bottom:0">
        <p>Page Footer</p>
    </div>

</body>
</html>
